<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">{{spinnerTitle | translate}}</p>
</ngx-spinner>

<div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <div>
            <button class="btn btn-light btn-sm me-3" (click)="goBack()">
                <i class="bi bi-arrow-left me-2"></i>{{ 'COMMON.BACK' | translate }}
            </button>
            <h1 class="h3 mb-0 d-inline">{{ 'PROFILE.USER_SETTINGS' | translate }}</h1>
        </div>
    </div>
</div>

<div class="row g-4">

    <div class="col-xl-12">

        <!-- Tab Content START -->
        <div class="tab-content">

            <!-- Personal Information content START -->
            <div class="tab-pane show active" id="tab-1">
                <div class="card shadow">

                    <!-- Card header -->
                    <div class="card-header border-bottom">
                        <h5 class="card-header-title">{{ 'PROFILE.USER_SETTINGS' | translate }}</h5>
                    </div>

                    <!-- Card body START -->
                    <div class="card-body">
                        <form class="row g-4 align-items-center">

                            <!-- Input item -->
                            <div class="col-lg-6">
                                <label class="form-label">{{ 'FORMS.FIRST_NAME' | translate }}</label>
                                <input type="text" class="form-control" id="firstName" [placeholder]="'FORMS.FIRST_NAME' | translate">
                            </div>

                            <!-- Input item -->
                            <div class="col-lg-6">
                                <label class="form-label">{{ 'FORMS.LAST_NAME' | translate }}</label>
                                <input type="text" class="form-control" id="lastName" [placeholder]="'FORMS.LAST_NAME' | translate">
                            </div>

                            <!-- Save button -->
                            <div class="d-sm-flex justify-content-end">
                                <button type="button" class="btn btn-primary mb-0" (click)="onSubmitUserUpdate()">{{ 'COMMON.UPDATE' | translate }}</button>
                            </div>
                        </form>
                    </div>
                    <!-- Card body END -->

                </div>			
            </div>
  
        </div>
        <!-- Tab Content END -->
    </div>
    <!-- Right side END -->
</div> <!-- Row END -->	