<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">{{ 'COMMON.FETCHING_DATA' | translate }}</p>
</ngx-spinner>
<div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <h1 class="h3 mb-2 mb-sm-0">{{ 'SIDEBAR.REWARDS' | translate }}</h1>
        <button class="btn btn-primary" (click)="showRewardDialog()">{{ 'REWARDS.ADD_REWARD' | translate }}</button>
    </div>
</div>
<div class="card bg-transparent border">
    <div class="card-body mt-2">
        <div class="table-responsive border-0 rounded-3" *ngIf="allUsers.length > 0">
            <table datatable [dtOptions]="dtOptions" class="table table-dark-gray align-middle p-4 mb-0 table-hover"
                id="dtable">
                <thead>
                    <tr>
                        <th scope="col" class="border-0">{{ 'REWARDS.REWARD_LIMIT' | translate }}</th>
                        <th scope="col" class="border-0">{{ 'REWARDS.REWARD_FILE' | translate }}</th>
                        <th scope="col" class="border-0">{{ 'FORMS.NO_OF_CRYPES' | translate }}</th>
                        <th scope="col" class="border-0">{{ 'COMMON.ACTIONS' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let q of allUsers; let i = index">

                        <td>{{q.reward_name}}</td>
                        
                        <td><a href="{{q.reward_file}}" target="_blank">{{ 'REWARDS.VIEW_FILE' | translate }}</a></td>
                        <td>{{q.reward_crypes}}</td>
                        <td>
    
                        <button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0"
                        (click)="deletee(q._id)">
                        <i class="bi bi-trash"></i>
                    </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="addProfession" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="appDetaillabel">{{ 'REWARDS.ADD_REWARD' | translate }}</h5>
                <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-5">
                <span class="small">{{ 'REWARDS.LIMIT' | translate }} <span class="error-message"></span></span>
                <input type="text" class="form-control" id="reward_limit" [placeholder]="'REWARDS.LIMIT' | translate" required>
                <br />
                <span class="small">{{ 'FORMS.NO_OF_CRYPES' | translate }} <span class="error-message"></span></span>
                <input type="text" class="form-control" id="reward_crypes" [placeholder]="'FORMS.NO_OF_CRYPES' | translate" required>
                <br />
                <span class="small">{{ 'REWARDS.REWARD_FILE' | translate }} <span class="error-message"></span></span>
                <input type="file" class="form-control" id="reward_limit" [placeholder]="'REWARDS.LIMIT' | translate" 
                (change)="onFileSelected($event, 'reward')" accept="application/pdf">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-soft my-0" (click)="_SaveRequest()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">{{ 'COMMON.CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>  