<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">Creating Quest.....</p>
</ngx-spinner>
<div class="row">
    <div class="col-12 mb-3">
        <h1 class="h3 mb-2 mb-sm-0">Create Quest</h1>
    </div>
</div>

<div class="row g-4">
    <div class="col-xl-12">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-1">
                <div class="card shadow">
                    <div class="card-body">
                        <form class="row g-4 align-items-center" [formGroup]="questForm" *ngIf="questForm"
                            (ngSubmit)="onSubmit()">

                            <div class="col-12 mb-2">
                                <label class="form-label">Quest Summary/Question</label>
                                <textarea class="form-control" rows="3" formControlName="quest_question"
                                    [ngClass]="{ 'is-invalid': submitted && f['quest_question'].errors }"></textarea>
                            </div>
                            <div class="col-lg-2">
                                <label class="form-label">Quest Type</label>
                                <select class="form-select js-choice z-index-9" aria-label=".form-select-sm"
                                formControlName="quest_type"
                                [ngClass]="{ 'is-invalid': submitted && f['quest_type']?.errors }">
                                    <option value="" selected disabled>Select Quest Type</option>
                                    <option value='simple'>Simple</option>
                                    <option value='image'>Picture</option>
                                    <option value='video'>Video</option>
                            </select>
                            </div>
                            <div class="col-lg-7 mb-1">
                                <label class="form-label">Quest File</label>
                                <input type="file" class="form-control"
                                accept="image/*"
                                (change)="onFileSelectedQuest($event)"
                                    placeholder="Answer">
                            </div>
                            <div class="col-lg-3" *ngIf="auth.isAdmin">
                                <label class="form-label">No of XP</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="no_of_xp"
                                    [ngClass]="{ 'is-invalid': submitted && f['no_of_xp'].errors }">
                            </div>
                            <div class="col-lg-5">
                                <label class="form-label">Quest Title</label>
                                <input type="text" class="form-control" placeholder="Title"
                                    formControlName="quest_title"
                                    [ngClass]="{ 'is-invalid': submitted && f['quest_title'].errors }">
                            </div>
                           
                            <div class="col-lg-3" *ngIf="auth.isAdmin">
                                <label class="form-label">No of Crypes</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="no_of_crypes"
                                    [ngClass]="{ 'is-invalid': submitted && f['no_of_crypes'].errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Level Increase Points</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="level_increase"
                                    [ngClass]="{ 'is-invalid': submitted && f['level_increase'].errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Mythica</label>
                                <select class="form-control" formControlName="mythica_ID"
                                [ngClass]="{ 'is-invalid': submitted && f['mythica_ID']?.errors }">
                                    <option value="" selected disabled>Select Mythica</option>
                                    <option *ngFor="let q of allCreatures" value="{{q._id}}">{{q.creature_name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Reward PDF</label>
                                <input type="file" class="form-control" accept="application/pdf" placeholder=""
                                (change)="onFileSelected($event, 'reward')">
                            </div>
                
                            <label class="form-label">Answers</label>
                            <div formArrayName="questions">
                                <div class="row mb-3" *ngFor="let quantity of questions().controls; let i=index"
                                    [formGroupName]="i">

                                    <div class="col-lg-4 mb-1">
                                        <input type="text" class="form-control" formControlName="answer"
                                            placeholder="Answer">
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <input type="file" class="form-control" formControlName="answer_image"
                                        accept="image/*, video/mp4"
                                        (change)="onFileSelectedOptions($event, 'option'+(i+1))"
                                            placeholder="Answer">
                                    </div>
                                    <div class="col-lg-2 mb-1">
                                        <select class="form-select js-choice z-index-9" aria-label=".form-select-sm"
                                            formControlName="correct_option"
                                            [ngClass]="{ 'is-invalid': submitted && f['correct_option']?.errors }">
                                            <option value="" selected disabled>Select Correct Option</option>
                                            <option value='true'>Yes</option>
                                            <option value='false'>No</option>

                                        </select>
                                    </div>
                                    <div class="col-lg-2">

                                        <a href="javascript:;" *ngIf="i == questions().controls.length -1"
                                            (click)="addQuestion()"
                                            class="btn btn-success-soft btn-round me-1 mb-1 mb-md-0"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                            data-bs-original-title="Edit">
                                            <i class="bi bi-plus"></i>
                                        </a>
                                        <button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0"
                                            (click)="removeQuestion(i)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="QrCode" [width]="256"
                                    [errorCorrectionLevel]="'M'"></qrcode>
                                <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
                            </div>
                            <div class="d-sm-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">Create</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>