<!-- Title -->

<div class="row">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen] = "true"
  >
    <p style="font-size: 30px; color: white">Fetching Data....</p>
  </ngx-spinner>
    <div class="col-12 mb-3">
        <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
    </div>
</div>

<!-- Counter boxes START -->
<div class="row g-4 mb-4">
    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
        <div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Digit -->
                <div>
                    <h2 class="purecounter mb-0 fw-bold">{{counters.users}}</h2>
                    <span class="mb-0 h6 fw-light">Total Users</span>
                </div>
                <!-- Icon -->
                <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i class="fas fa-tv fa-fw"></i></div>
            </div>
        </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
        <div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Digit -->
                <div>
                    <h2 class="purecounter mb-0 fw-bold">{{counters.quests}}</h2>
                    <span class="mb-0 h6 fw-light">Total Quests</span>
                </div>
                <!-- Icon -->
                <div class="icon-lg rounded-circle bg-purple text-white mb-0"><i class="fas fa-user-tie fa-fw"></i></div>
            </div>
        </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
        <div class="card card-body bg-primary bg-opacity-10 p-4 h-100">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Digit -->
                <div>
                    <h2 class="purecounter mb-0 fw-bold">{{counters.missions}}</h2>
                    <span class="mb-0 h6 fw-light">Total Missions</span>
                </div>
                <!-- Icon -->
                <div class="icon-lg rounded-circle bg-primary text-white mb-0"><i class="fas fa-user-graduate fa-fw"></i></div>
            </div>
        </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
        <div class="card card-body bg-success bg-opacity-10 p-4 h-100">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Digit -->
                <div>
                    <div class="d-flex">
                        <h2 class="purecounter mb-0 fw-bold">{{counters.hunts}}</h2>
                    </div>
                    <span class="mb-0 h6 fw-light">Total Treasure Hunts</span>
                </div>
                <!-- Icon -->
                <div class="icon-lg rounded-circle bg-success text-white mb-0"><i class="bi bi-stopwatch-fill fa-fw"></i></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row g-4 mb-4">

    <div class="col-xxl-8">
        <div class="card shadow h-100">


            <div class="card-header p-4 border-bottom">
                <h5 class="card-header-title">Month Wise Chart of Questions</h5>
            </div>

           
            <div class="card-body" >
                <div class="chart-container">
                    <canvas  id="QuestionsChart" >{{ QuestionsChart }}</canvas>
                </div>

                
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xxl-4">
        <div class="card shadow h-100">

           
            <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                <h5 class="card-header-title">Category Wise Data</h5>
            </div>

     
            <div class="card-body p-4">
      
                <div class="col-sm-6 mx-auto">
                    
                    <canvas  id="CategoriesChart">{{ CategoriesChart }}</canvas>
                </div>
            </div>
        </div>

    </div>

</div> -->

