<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">{{ 'FORMS.CREATING_SKY_GIFT' | translate }}</p>
</ngx-spinner>
<div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <div>
            <button class="btn btn-light btn-sm me-3" (click)="router.navigate(['skygifts/list-skygifts'])">
                <i class="bi bi-arrow-left me-2"></i>{{ 'COMMON.BACK' | translate }}
            </button>
            <h1 class="h3 mb-0 d-inline">{{ 'SIDEBAR.ADD_GIFTS' | translate }}</h1>
        </div>
    </div>
</div>

<div class="row g-4">
    <div class="col-xl-12">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-1">
                <div class="card shadow">
                    <div class="card-body">
                        <form class="row g-4 align-items-center" [formGroup]="skyGiftForm" *ngIf="skyGiftForm"
                            (ngSubmit)="onSubmit()">
                            <div class="col-lg-3 mb-2">
                                <label class="form-label">{{ 'FORMS.GIFT_NAME' | translate }} <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [placeholder]="'FORMS.GIFT_NAME' | translate" maxlength="100"
                                formControlName="gift_name"
                                [ngClass]="{ 'is-invalid': submitted && f['gift_name'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && f['gift_name'].errors">
                                    <div *ngIf="f['gift_name'].errors['required']">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                                    <div *ngIf="f['gift_name'].errors['minlength']">{{ 'VALIDATION.QUEST_TITLE_MIN' | translate }}</div>
                                    <div *ngIf="f['gift_name'].errors['maxlength']">{{ 'VALIDATION.QUEST_TITLE_MAX' | translate }}</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">{{ 'FORMS.MYTHICA_REWARD' | translate }} <span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="mythica_reward"
                                [ngClass]="{ 'is-invalid': submitted && f['mythica_reward']?.errors }">
                                    <option value="" selected disabled>{{ 'FORMS.SELECT_MYTHICA' | translate }}</option>
                                    <option *ngFor="let q of allCreatures" value="{{q._id}}">{{q.creature_name}}</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && f['mythica_reward']?.errors">
                                    {{ 'VALIDATION.MYTHICA_REQUIRED' | translate }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">{{ 'FORMS.LATITUDE' | translate }} <span class="text-danger">*</span></label>
                                <input type="number" step="any" class="form-control" [placeholder]="'FORMS.LATITUDE' | translate" formControlName="latitude"
                                    (input)="onLatitudeInput($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f['latitude'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && f['latitude'].errors">
                                    <div *ngIf="f['latitude'].errors['required']">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                                    <div *ngIf="f['latitude'].errors['invalidLatitude']">{{ 'VALIDATION.INVALID_LATITUDE' | translate }}</div>
                                </div>
                                <small class="text-muted">{{ 'VALIDATION.INVALID_LATITUDE' | translate }}</small>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">{{ 'FORMS.LONGITUDE' | translate }} <span class="text-danger">*</span></label>
                                <input type="number" step="any" class="form-control" [placeholder]="'FORMS.LONGITUDE' | translate" formControlName="longitude"
                                    (input)="onLongitudeInput($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f['longitude'].errors }">
                                <div class="invalid-feedback" *ngIf="submitted && f['longitude'].errors">
                                    <div *ngIf="f['longitude'].errors['required']">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                                    <div *ngIf="f['longitude'].errors['invalidLongitude']">{{ 'VALIDATION.INVALID_LONGITUDE' | translate }}</div>
                                </div>
                                <small class="text-muted">{{ 'VALIDATION.INVALID_LONGITUDE' | translate }}</small>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">{{ 'FORMS.REWARD_FILE' | translate }}</label>
                                <input type="file" class="form-control" accept="image/*,video/*,application/pdf" placeholder=""
                                (change)="onFileSelected($event, 'reward')">
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label">{{ 'FORMS.GIFT_DESCRIPTION' | translate }} <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="3" formControlName="gift_description" maxlength="500"
                                [ngClass]="{ 'is-invalid': submitted && f['gift_description'].errors }"></textarea>
                                <div class="invalid-feedback" *ngIf="submitted && f['gift_description'].errors">
                                    <div *ngIf="f['gift_description'].errors['required']">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                                    <div *ngIf="f['gift_description'].errors['minlength']">{{ 'VALIDATION.QUEST_QUESTION_MIN' | translate }}</div>
                                    <div *ngIf="f['gift_description'].errors['maxlength']">{{ 'VALIDATION.QUEST_QUESTION_MAX' | translate }}</div>
                                </div>
                            </div>
                            
                            <div class="d-sm-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">{{ 'COMMON.CREATE' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
