<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">{{ 'LIST.FETCHING_DATA' | translate }}</p>
</ngx-spinner>
<div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <h1 class="h3 mb-2 mb-sm-0">{{ 'SIDEBAR.TREASURE_HUNTS' | translate }}</h1>
    </div>
</div>
<div class="card bg-transparent border">
    <div class="card-body mt-2">
        <div class="table-responsive border-0 rounded-3" *ngIf="allMissions.length > 0; else noHuntsTemplate">
            <table datatable [dtOptions]="dtOptions" class="table table-dark-gray align-middle p-4 mb-0 table-hover"
                id="dtable">
                <thead>
                    <tr>

                        <th scope="col" class="border-0 rounded-start">Title</th>
                        <th scope="col" class="border-0">No of XP</th>
                        <th scope="col" class="border-0">No of Crypes</th>
                        <th scope="col" class="border-0">Price</th>
                        <th scope="col" class="border-0">No of Quiz</th>
                        <th scope="col" class="border-0">Status</th>
                        <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let q of allMissions; let i = index">

                        <td *ngIf="q?.treasure_hunt_title">{{q.treasure_hunt_title.toString().substring(0,60)}}...</td>
                        <td *ngIf="!q?.treasure_hunt_title">N/A</td>
                        <td>{{q.no_of_xp}}</td>
                        <td>{{q.no_of_crypes}}</td>
                        <td>{{q.hunt_package == 'undefined' ? 'N/A' : q.hunt_package}}</td>
                        <td>{{q.quiz?.length}}</td>

                        <td>
                            <div *ngIf="q.status == 'draft'" class="badge bg-info bg-opacity-10 text-info">Draft
                            </div>
                            <div *ngIf="q.status == 'active'" class="badge bg-success bg-opacity-10 text-success">Active
                            </div>
                            <div *ngIf="q.status == 'blocked'" class="badge bg-danger bg-opacity-10 text-danger">Blocked
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info-soft btn-round me-1 mb-1 mb-md-0" (click)="viewQuest(q)">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="btn btn-primary-soft btn-round me-1 mb-1 mb-md-0" (click)="edit(q.id)">
                                <i class="bi bi-pencil"></i>
                            </button>
                             <button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0"
                                (click)="deletee(q.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noHuntsTemplate>
            <div class="text-center p-5">
                <i class="bi bi-inbox fs-1 text-muted"></i>
                <p class="text-muted mt-3 mb-0">No hunts available</p>
            </div>
        </ng-template>
    </div>

</div>
<div class="modal fade" id="viewQuest" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="appDetaillabel">Treasure Hunt Details</h5>
                <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i
                        class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-5">
                <div class="row">
                    <div class="col-md-10">
                        <label class="form-label">Treasure Hunt Title</label>
                        <p id="question"></p>
                    </div>

                </div>
                <div class="col-md-2">
                    <label class="form-label">QR Code</label>
                    <qrcode [qrdata]="qrCode" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label">No of XP</label>
                        <p id="no_of_xp"></p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">No of Crypes</label>
                        <p id="no_of_crypes"></p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Level Points</label>
                        <p id="level_increase"></p>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Mythica</label>
                        <p>{{mythicaURL}}</p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Premium?</label>
                        <p id="premium_hunt"></p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Package</label>
                        <p id="hunt_package"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-dark-gray">
                                <thead>
                                    <tr>
                                        <th>Quiz Title</th>
                                        <th>No of Options</th>
                                        <th>Mythica</th>
                                        <th>View Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let q of quiz">
                                        <tr>
                                            <td>{{q?.treasure_hunt_title}}</td>
                                            <td>{{q?.options.length}}</td>
                                            <td>{{q?.mythica?.creature_name}}</td>
                                            <td>
                                                <button class="btn btn-primary-soft btn-round me-1 mb-1 mb-md-0"
                                                    (click)="toggleOptions(q._id)">
                                                    <i class="bi bi-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td [attr.colspan]="5">
                                              <div id="quizOptions{{q._id}}" class="collapse">
                                                <!-- Content for quiz options goes here -->
                                                <div class="quiz-options">
                                                  <!-- Add your quiz options content here -->
                                                  <!-- For example, you can use another ngFor loop to display quiz options -->
                                                  <div *ngFor="let qz of q?.options">
                                                    <p>
                                                        <i *ngIf="qz.correct_option == true" style="color:green; font-size: 20px; margin-top: -2px;" class="bi bi-check2-circle fa-fw me-2"></i>
                                                        <i *ngIf="qz.correct_option == false" style="color:red; font-size: 20px; margin-top: -2px;" class="bi bi-x-circle fa-fw me-2"></i> 
                                                        {{qz.answer}}</p>
                                                  </div>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
