<div class="row">
    <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen] = "true"
>
  <p style="font-size: 20px; color: white">{{text}}</p>
</ngx-spinner>
    <!-- left -->
    <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
        <div class="p-3 p-lg-5">
            <!-- Title -->
            <div class="text-center">
                <h2 class="fw-bold">Welcome to our largest community</h2>
                <p class="mb-0 h6 fw-light">Let's learn something new today!</p>
            </div>
            <!-- SVG Image -->
            <img src="assets/images/element/02.svg" class="mt-5" alt="">
            <!-- Info -->

        </div>
    </div>
  
    <!-- Right -->
    <div class="col-12 col-lg-6 m-auto">
       
        <div class="row my-5">
            <div class="col-sm-10 col-xl-8 m-auto">
                <!-- Title -->
                <span class="mb-0 fs-1">👋</span>
                <h1 class="fs-2">Login into Mystic Creatures</h1>
                <p class="lead mb-4">Please log in with your account.</p>

                <!-- Form START -->
                <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
                    <!-- Email -->
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <div class="input-group input-group-lg"
                            [ngClass]="{ 'is-invalid': isSubmitted && submissionForm.get('email').errors }">
                            <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                    class="bi bi-envelope-fill"></i></span>
                            <input type="email" formControlName="email"
                                class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail"
                                id="exampleInputEmail1">
                               
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="mb-4">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <div class="input-group input-group-lg"
                            [ngClass]="{ 'is-invalid': isSubmitted && submissionForm.get('password').errors }">
                            <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                    class="fas fa-lock"></i></span>
                            <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                                class="form-control border-0 bg-light rounded-end ps-1" placeholder="password"
                                id="inputPassword">
                                <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3" (click)="showPassword()">
                                    <i *ngIf="fieldTextType" class="fas fa-eye-slash"></i>
                                    <i *ngIf="!fieldTextType" class="fas fa-eye"></i>
                                   </span>
                        </div>
                    </div>
                    <!-- Check box -->
                    <div class="mb-4 d-flex justify-content-between mb-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <div class="text-primary-hover">
                            <a href="javascript:;" (click)="showResetPasswordModal()" class="text-secondary">
                                <u>Forgot password?</u>
                            </a>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="align-items-center mt-0">
                        <div class="d-grid">
                            <button class="btn btn-primary mb-0" type="submit">Login</button>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="forgetPassword" tabindex="-1" aria-labelledby="appDetaillabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h5 class="modal-title text-white" id="appDetaillabel">Forgot Password? </h5>
                                <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i
                                        class="bi bi-x-lg"></i></button>
                            </div>
                            <div class="modal-body p-5">
                                <span class="small">Enter Email</span>
                                <input type="email" class="form-control" id="forgotemail" placeholder="Email" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary-soft my-0" (click)="resetPassword()">Reset Password</button>
                                <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form END -->
            </div>
        
        </div> <!-- Row END -->
        
    </div>
    
</div> <!-- Row END -->

