<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">Creating Quest Group.....</p>
</ngx-spinner>
<div class="row mb-3">
    <div class="col-12 d-sm-flex justify-content-between align-items-center">
        <div>
            <button class="btn btn-light btn-sm me-3" (click)="router.navigate(['quest/list-quest'])">
                <i class="bi bi-arrow-left me-2"></i>Back
            </button>
            <h1 class="h3 mb-0 d-inline">Create Quest Group</h1>
        </div>
    </div>
</div>

<div class="row g-4">
    <div class="col-xl-12">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-1">
                <div class="card shadow">
                    <div class="card-body">
                        <form class="row g-4 align-items-center" [formGroup]="questForm" *ngIf="questForm"
                            (ngSubmit)="onSubmit()">

                  
                            <div class="col-lg-5">
                                <label class="form-label">Quest Group Name</label>
                                <input type="text" class="form-control" placeholder="Title"
                                    formControlName="quest_group_name"
                                    [ngClass]="{ 'is-invalid': submitted && f['quest_group_name'].errors }">
                            </div>
                 
                            <div class="col-lg-3">
                                <label class="form-label">No of Crypes</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="no_of_crypes"
                                    [ngClass]="{ 'is-invalid': submitted && f['no_of_crypes'].errors }">
                            </div>
                   
                            <div class="col-lg-3">
                                <label class="form-label">Package</label>
                                <select class="form-select js-choice z-index-9" 
                                formControlName="group_package" aria-label=".form-select-sm"
                                [ngClass]="{ 'is-invalid': submitted && f['group_package']?.errors }">
                                    <option value="" selected disabled>Select Package?</option>
                                    <option value='Bronze'>Bronze</option>
                                    <option value='Gold'>Gold</option>
                                    <option value='Silver'>Silver</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Reward PDF</label>
                                <input type="file" class="form-control" accept="application/pdf" placeholder=""
                                (change)="onFileSelected($event, 'reward')">
                            </div>
                
                            <div>
                                <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="QrCode" [width]="256"
                                    [errorCorrectionLevel]="'M'"></qrcode>
                                <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
                            </div>
                            <div class="d-sm-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">Create</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>