<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="font-size: 30px; color: white">Creating Treasure Hunt.....</p>
</ngx-spinner>
<div class="row">
    <div class="col-12 mb-3">
        <h1 class="h3 mb-2 mb-sm-0">Create Treasure Hunt</h1>
    </div>
</div>

<div class="row g-4">
    <div class="col-xl-12">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-1">
                <div class="card shadow">
                    <div class="card-body">
                        <form class="row g-4 align-items-center" [formGroup]="questForm" *ngIf="questForm"
                            (ngSubmit)="onSubmit()">

                            <div class="col-12 mb-2">
                                <label class="form-label">Treasure Hunt Title</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="treasure_hunt_title"
                                [ngClass]="{ 'is-invalid': submitted && f['treasure_hunt_title']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">No of XP</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="no_of_xp"
                                    [ngClass]="{ 'is-invalid': submitted && f['no_of_xp']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">No of Crypes</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="no_of_crypes"
                                    [ngClass]="{ 'is-invalid': submitted && f['no_of_crypes']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Level Increase Points</label>
                                <input type="text" class="form-control" placeholder="0" formControlName="level_increase"
                                    [ngClass]="{ 'is-invalid': submitted && f['level_increase']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Mythica ID</label>
                                <input type="text" class="form-control" placeholder="Mythica ID"
                                    formControlName="mythica_ID"
                                    [ngClass]="{ 'is-invalid': submitted && f['mythica_ID']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Start Date</label>
                                <input type="date" class="form-control" placeholder="e.g. https://www.google.com"
                                    formControlName="treasure_hunt_start_date"
                                    [ngClass]="{ 'is-invalid': submitted && f['treasure_hunt_start_date']?.errors }">
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">End Date</label>
                                <input type="date" class="form-control" placeholder="e.g. https://www.google.com"
                                    formControlName="treasure_hunt_end_date"
                                    [ngClass]="{ 'is-invalid': submitted && f['treasure_hunt_end_date']?.errors }">
                            </div>
                            <hr />
                           <h3>Create Quiz Options</h3>
                           <hr />
                            <div formArrayName="questions">
                                <div class="row mb-3" *ngFor="let questionGroup of questForm.get('questions').controls; let i=index"
                                    [formGroupName]="i">

                                    <div class="col-3 mb-2">
                                        <label class="form-label">Quiz Title</label>
                                        <input type="text" class="form-control" placeholder="Quiz Title"
                                    formControlName="treasure_hunt_title"
                                    [ngClass]="{ 'is-invalid': submitted && f['treasure_hunt_title']?.errors }">
                                    </div>
                                    <div class="col-3 mb-2">
                                        <label class="form-label">Creature</label>
                                        <input type="text" class="form-control" placeholder="e.g. https://www.google.com"
                                        formControlName="creature"
                                        [ngClass]="{ 'is-invalid': submitted && f['creature']?.errors }">
                                    </div>
                                    <div class="col-3 mb-2">
                                        <label class="form-label">Latitude</label>
                                        <input type="text" class="form-control" placeholder=""
                                    formControlName="latitude"
                                    [ngClass]="{ 'is-invalid': submitted && f['latitude']?.errors }">
                                    </div>
                                    <div class="col-3 mb-2">
                                        <label class="form-label">Longitude</label>
                                        <input type="text" class="form-control" placeholder=""
                                    formControlName="longitude"
                                    [ngClass]="{ 'is-invalid': submitted && f['longitude']?.errors }">
                                    </div>
                                    <div class="col-3 mb-2">
                                        <label class="form-label">Mythica</label>
                                        <input type="text" class="form-control" placeholder=""
                                    formControlName="mythica"
                                    [ngClass]="{ 'is-invalid': submitted && f['mythica']?.errors }">
                                    </div>
                          
                                  
                                    <div class="col-2" style="margin-top: 30px;">

                                        <a href="javascript:;" *ngIf="i == questions.controls.length -1"  (click)="addQuestion()"
                                            class="btn btn-success-soft btn-round me-1 mb-1 mb-md-0"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                            data-bs-original-title="Edit">
                                            <i class="bi bi-plus"></i>
                                        </a>
                                        <button class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0"
                                            (click)="removeQuestion(i)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="d-sm-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">Create</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>